In [ ]:
top = 10
bottom = 20
height = 5

area = (top + bottom) * height / 2

print(str(area) + "cm²")

75.0cm²

In [ ]:
array = ["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array[2])

水曜日は晴れです

In [ ]:
dictionary = {"mon":"晴れ","tue":"雨","wed":"晴れ","thu":"晴れ","fri":"曇り","sat":"曇りのち雨","sun":"雷雨"}
print(dictionary["wed"])

晴れ

In [ ]:
var = 60
if (var % 15) == 0:
    print("FizzBuzz")
elif (var % 5) == 0:
    print("Buzz")
elif (var % 3) == 0:
    print("Fizz")
else :
    print(var)

FizzBuzz

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]
index = 0

for i in array:
  print(i)

while index < 9:
  array_while = array[index]
  print(array_while)
  index = index + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
def goods(price,tax):
  return price + (price / tax)

total = goods(1200,10)
print(total)

1320.0

In [16]:
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return (price1 + price2) * tax

print (total())

330.0